* {
  font-family: nunito;
}

body {
  background-image: url("../imgs/image2-2.png");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.clock {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border-radius: 50px;

  background-color: hsla(180, 6%, 97%, 0.226);
  backdrop-filter: blur(2px);
  color: white;

  margin-top: 70px;
  padding: 50px;

  box-shadow: inset -3px -5px 15px hsl(212, 70%, 35%);
}

p {
  font-size: 270%;
  font-weight: bold;

  color: gray;

  display: flex;
  align-items: center;
  justify-content: center;
}

.colon {
  color: rgb(68, 67, 67);
}

.buttons {
  margin-top: 15px;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: stretch;
  justify-content: stretch;
}

.buttons button {
  border: none;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  padding: 10px 15px;
  transition: all 0.15s ease-in-out;
  color: white;
}

#stop {
  background-color: hsl(0, 82%, 13%);

  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
} 
#stop:hover {
  background-color: hsl(0, 100%, 37%);
}
#stop:active {
  background-color: hsl(0, 100%, 27%);
}

#reset {
  background-color: hsl(0, 0%, 40%);
}
#reset:hover {
  background-color: hsl(0, 0%, 30%);
}
#reset:active {
  background-color: hsl(0, 0%, 20%)
}

#resume {
  background-color: hsl(84, 93%, 11%);


  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}
#resume:hover {
  background-color: hsl(84, 100%, 30%);
}
#resume:active {
  background-color: hsl(84, 100%, 20%);
}